{{#if feat}}
  <div class='feat-slot feat-slot--filled'>
    <img
      class='feat-slot__icon'
      src='{{feat.img}}'
      alt=''
      data-action='viewFeat'
      data-uuid='{{feat.uuid}}'
    />
    <span
      class='feat-slot__name'
      data-action='viewFeat'
      data-uuid='{{feat.uuid}}'
    >{{feat.name}}</span>
    <span class='feat-slot__level'>Lvl {{feat.level}}</span>
    <i
      class='feat-slot__change fa-solid fa-pen-to-square'
      data-action='openFeatPicker'
      data-category='{{category}}'
      data-level='{{level}}'
      data-tooltip='{{localize "PF2E_LEVELER.UI.CHANGE"}}'
    ></i>
    <i
      class='feat-slot__clear fa-solid fa-xmark'
      data-action='clearFeat'
      data-category='{{category}}'
      data-level='{{level}}'
      data-tooltip='{{localize "PF2E_LEVELER.UI.REMOVE"}}'
    ></i>
  </div>
  {{#if feat.manualSpellNote}}
  <div class='feat-slot__note'>
    <i class='fa-solid fa-circle-info'></i>
    {{localize 'PF2E_LEVELER.UI.MANUAL_SPELL_NOTE'}}
  </div>
  {{/if}}
  {{#if feat.grantedItems.length}}
  <div class='feat-slot__note'>
    <i class='fa-solid fa-link'></i>
    {{localize 'PF2E_LEVELER.UI.GRANTED_ITEMS'}}
    {{#each feat.grantedItems}}
      <button type="button" data-action="viewFeat" data-uuid="{{this.uuid}}" style="background:none;border:0;padding:0;color:inherit;cursor:pointer;text-decoration:underline;">{{this.name}}</button>{{#unless @last}}, {{/unless}}
    {{/each}}
  </div>
  {{/if}}
  {{#each feat.grantChoiceSets}}
  <div class="feat-slot__note">
    <i class="fa-solid fa-circle-info"></i>
    {{this.prompt}}
  </div>
  {{#if (eq this.choiceType "skill")}}
  <div class="skill-btn-grid" style="margin-top: var(--leveler-spacing-sm);">
    {{#each this.options}}
    <button type="button" class="skill-btn {{#if this.selected}}selected{{/if}}" data-action="selectPlannedFeatChoice" data-category="{{../../category}}" data-flag="{{../flag}}" data-value="{{this.value}}" {{#if this.disabled}}disabled{{/if}}>
      <span class="skill-btn__name">{{this.label}}</span>
    </button>
    {{/each}}
  </div>
  {{else}}
  <div class="wizard-item-grid wizard-item-grid--compact" style="margin-top: var(--leveler-spacing-sm);">
    {{#each this.options}}
    <div class="wizard-item {{#if this.selected}}wizard-item--taken{{/if}}">
      {{#if this.img}}
      <img src="{{this.img}}" alt="" class="wizard-item__img" {{#if this.uuid}}data-action="viewFeat" data-uuid="{{this.uuid}}"{{/if}}>
      {{/if}}
      <div class="wizard-item__info">
        <span class="wizard-item__name wizard-item__name--static" {{#if this.uuid}}data-action="viewFeat" data-uuid="{{this.uuid}}"{{/if}}>{{this.label}}</span>
      </div>
      {{#if this.selected}}
      <button type="button" class="wizard-item__select wizard-item__select--selected" disabled>
        <i class="fa-solid fa-check"></i> {{localize "PF2E_LEVELER.UI.SELECTED"}}
      </button>
      {{else}}
      <button type="button" class="wizard-item__select" data-action="selectPlannedFeatChoice" data-category="{{../../category}}" data-flag="{{../flag}}" data-value="{{this.value}}">
        {{localize "PF2E_LEVELER.FEAT_PICKER.SELECT"}}
      </button>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{/each}}
{{else}}
  <div
    class='feat-slot feat-slot--empty'
    data-action='openFeatPicker'
    data-category='{{category}}'
    data-level='{{level}}'
  >
    <i class='fa-solid fa-plus' style='opacity: 0.4;'></i>
    <span class='feat-slot__name'>{{localize 'PF2E_LEVELER.UI.UNSET'}}</span>
  </div>
{{/if}}
